#quote {
  font-style: italic;
}

#quote::before {
  content: '"';
}
#quote::after {
  content: '"';
}

#generate-btn {
  margin: 1rem;
  background-color: #0b5ed7;
  color: white;
  border-color: #0a58ca;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0;
  padding: 0.6rem;
}

#favourites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favourite-card {
  display: block;
  width: 20rem;
  margin: 1rem;
  padding: 1.1rem;
  text-align: left;
}

#favourite-btn {
  display: none;
  cursor: pointer;
  color: #ffd43b;
}

.author-text {
  font-style: italic;
}
